
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(64, 140, 176);
    color: #010039;
}

#thankYouMessage {
    display: flex;
    font-size: 14px;
    color:palevioletred;
    margin-top: 10px;
}

#photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#photoContainer img {
    max-width: 50%;
    max-height: auto;
    padding: 0 px 0 10px;
    opacity: 0;
    transition: opacity 10s;

}

#header {
    display: flex;
} 