*/ {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(124, 106, 184);
}

#thankYouMessage {
    display: flex;
    font-size: 14px;
    color:palevioletred;
    margin-top: 10px;
}

#photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#photoContainerimg {
    max-width: 50%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
}

#togglePhotosButton {
    display: flex;
    align-content: center;
}